{% extends "base.html" %}

<!-- Need to add the line below even though inherited because I'm using static refs -->
{% load staticfiles %}

{% block head_title %}OpenEye | Curated Catalogue{% endblock %}

{% block content %}
    <!-- Main area for message or call to action -->
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="hero row">
                <div class="col-md-6 col-md-offset-3">
                    <p>{{ TopicName }}</p>
                </div>
            </div>
        </div>
        <!-- end hero -->
    </div>

    <div class="container">
        <div class="row">

            {% include 'openeye/lpanel.html' %}


            <div class="cpanel">
                <div class="col-md-8 col-sm-8">
                    <h4>Resources</h4>
                    {% if resource_list %}
                        <dl>
                            {% for item in resource_list %}
                                <p class="res_title"><a href="{% url 'ResourceDetail' item.id %}">{{ item.title }}</a>&nbsp;<span class="name">(Discovered by&nbsp;{{ item.full_name }})</span></p>
                                <p class="res_desc">{{ item.description }}</p>
                                <p class="res_desc">YOU WILL LEARN:&nbsp;{{ item.what_learn }}</p>
                            {% endfor %}
                    </dl>
                    {% else %}
                        <p>Sorry, there is no content for this topic yet.</p>
                    {% endif %}

                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}