

/* ==========================================================================
   Alan's custom styles
   ========================================================================== */


.jumbotron h4 {
    text-align: center;
}

/* Make carousel images centred on home screen */
.carousel-inner img {
  margin: auto;
}
/* Remove the carousel gradients at left and right */
.carousel-control.left, .carousel-control.right {
    background-image: none
}








